@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
.wrap{
  border: 1px solid rgb(24, 23, 23);
  width: 900px;
  position: relative;
  padding: 20px;

}  

.wrap input[type=text], input[type=submit], input[type=date], input[type=time], select {
    border: none;
    outline: none;
    color: #6B6A6A;
    background: #E2E0E0;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
    display: flex;
  }
  .btn-filter {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
  }
  
  /* Login form submit button hover effect */
  .btn-filter:hover {
    background-color: black;
    cursor: pointer;
  }
  

.table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}
tr:nth-of-type(even) { 
        background: darkgray; 
}
    

th { 
	background: gray; 
	color: white; 
	font-weight: bold; 
	}
th:hover{
    background-color: #000;
}
td, th { 
	padding: 10px; 
	border: 2px solid black; 
	text-align: left; 
	font-size: 18px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	}

@media 
only screen and (max-width: 600px),
(min-device-width: 668px) and (max-device-width: 1024px)  {

	table { 
	  	width: 60%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	

}
.btn-book {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
  }
  
  .btn-book:hover {
    background-color: black;
    cursor: pointer;
  }
  