<div class="navbar">
    <div class="logo-container">
        <img src="assets/image/take-off.png" alt="logo" class="flight-logo">
      </div>
      <h1 class="navbar-header">Flight Booking App</h1>
    <ul class="list">
        <ng-template #notAuthenticated>
            <li class="nav-items">
                <a class="nav-link" routerLink="/" 
                >Home </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="/user-login" 
                >User Login </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="/admin-login" #home
                >Admin Login </a>
            </li>
            
        </ng-template>
         <ng-template #authentication>
            <li class="nav-items">
                <a class="nav-link" routerLink="/" #home
                >Home </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="/user-bookings" #home
                >User Booking </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="/" (click)="logout()"
                >Logout </a>
            </li>

         </ng-template>
         <ng-container *ngIf="auth.isAuthenticated();then authentication else notAuthenticated"></ng-container>

        


        
    </ul>
</div>
