<div class="navbar">
    <div class="logo-container">
        <img src="assets/image/take-off.png" alt="logo" class="flight-logo">
      </div>
      <h1 class="navbar-header">Flight Booking App</h1>
    <ul class="list">
            <li class="nav-items">
                <a class="nav-link" routerLink="/dashboard" 
                >Home </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="/book-table" 
                >User Booking </a>
            </li>
            <li class="nav-items">
                <a class="nav-link" routerLink="/user-logout" #home
                >Logout</a>
            </li>
            

        
    </ul>
</div>

