.alert-msg {
  position: fixed;
  bottom: 10%;
  left: 0;
  padding: 20px 20px;
  justify-content: center;
  background-color:#CCCCCC ;
  color: #990000;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 9999;
}
.body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(35, 35, 35, 0.6), rgba(41, 40, 40, 0.6)),
      url("src/assets/image/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  @media (min-width: 1025px) and (max-width: 1440px) {

    .body:before {
      width: 1300px;
  
      transform: skew(120deg);
    }
  }
  @media (min-width: 721px) and (max-width: 1024px) {
    .body:before {
      width: 913px;
      transform: skew(126deg);
    }
  }
  @media (min-width: 601px) and (max-width: 720px) {

    .body:before {
      width: 720px;
      transform: skew(134deg);
    }
  }
  
  
